# Homework 2 - eCommerce analytics - Group 9

### Libraries

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
%matplotlib inline

import seaborn as sns
import copy
import os

import datetime
import time


import functions

In [2]:
# paths of databases in zip and gz format to be underwritten(dataset from Oct 2019 to Apr 2020)
old_df_names = ['Old_data/2019-Oct.csv.zip', 'Old_data/2019-Nov.csv.zip','Old_data/2019-Dec.csv.gz',
                'Old_data/2020-Jan.csv.gz', 'Old_data/2020-Feb.csv.gz', 'Old_data/2020-Mar.csv.gz',
                'Old_data/2020-Apr.csv.gz']

# new paths of databases for csv files (dataset from Oct 2019 to Apr 2020)
df_names = ['Data/2019-Oct.csv', 'Data/2019-Nov.csv', 'Data/2019-Dec.csv',
            'Data/2019-Jan.csv', 'Data/2019-Feb.csv', 'Data/2019-Mar.csv', 
            'Data/2019-Apr.csv']

# months to analize 
months = ['October','November','December','January','February','March','April']

### Reading the dataset

In [3]:
functions.infos(old_df_names, months)

Month October :
	- event_time has number of Nan : 0
	- event_type has number of Nan : 0
	- product_id has number of Nan : 0
	- category_id has number of Nan : 0
	- category_code has number of Nan : 13515609
	- brand has number of Nan : 6117080
	- price has number of Nan : 0
	- user_id has number of Nan : 0
	- user_session has number of Nan : 2
Total number of rows: 42448764


Month November :
	- event_time has number of Nan : 0
	- event_type has number of Nan : 0
	- product_id has number of Nan : 0
	- category_id has number of Nan : 0
	- category_code has number of Nan : 21898171
	- brand has number of Nan : 9224078
	- price has number of Nan : 0
	- user_id has number of Nan : 0
	- user_session has number of Nan : 10
Total number of rows: 67501979


Month December :
	- event_time has number of Nan : 0
	- event_type has number of Nan : 0
	- product_id has number of Nan : 0
	- category_id has number of Nan : 0
	- category_code has number of Nan : 7088848
	- brand has number of Nan : 8122410
	- price has number of Nan : 0
	- user_id has number of Nan : 0
	- user_session has number of Nan : 21
Total number of rows: 67542878


Month January :
	- event_time has number of Nan : 0
	- event_type has number of Nan : 0
	- product_id has number of Nan : 0
	- category_id has number of Nan : 0
	- category_code has number of Nan : 5044890
	- brand has number of Nan : 6540255
	- price has number of Nan : 0
	- user_id has number of Nan : 0
	- user_session has number of Nan : 19
Total number of rows: 55967041


Month February :
	- event_time has number of Nan : 0
	- event_type has number of Nan : 0
	- product_id has number of Nan : 0
	- category_id has number of Nan : 0
	- category_code has number of Nan : 4929680
	- brand has number of Nan : 8595363
	- price has number of Nan : 0
	- user_id has number of Nan : 0
	- user_session has number of Nan : 14
Total number of rows: 55318565


Month March :
	- event_time has number of Nan : 0
	- event_type has number of Nan : 0
	- product_id has number of Nan : 0
	- category_id has number of Nan : 0
	- category_code has number of Nan : 5938692
	- brand has number of Nan : 8123632
	- price has number of Nan : 0
	- user_id has number of Nan : 0
	- user_session has number of Nan : 51
Total number of rows: 56341241


Month April :
	- event_time has number of Nan : 0
	- event_type has number of Nan : 0
	- product_id has number of Nan : 0
	- category_id has number of Nan : 0
	- category_code has number of Nan : 6755873
	- brand has number of Nan : 8992487
	- price has number of Nan : 0
	- user_id has number of Nan : 0
	- user_session has number of Nan : 109
Total number of rows: 66589268

### Cleaning Data

In [4]:
functions.make_new_csv(old_df_names, df_names)

In [5]:
functions.infos(df_names, months)

Month October :
	- event_time has number of Nan : 0
	- event_type has number of Nan : 0
	- product_id has number of Nan : 0
	- category_id has number of Nan : 0
	- category_code has number of Nan : 0
	- brand has number of Nan : 0
	- price has number of Nan : 0
	- user_id has number of Nan : 0
	- user_session has number of Nan : 0
Total number of rows: 26560620


Month November :
	- event_time has number of Nan : 0
	- event_type has number of Nan : 0
	- product_id has number of Nan : 0
	- category_id has number of Nan : 0
	- category_code has number of Nan : 0
	- brand has number of Nan : 0
	- price has number of Nan : 0
	- user_id has number of Nan : 0
	- user_session has number of Nan : 0
Total number of rows: 42089564


Month December :
	- event_time has number of Nan : 0
	- event_type has number of Nan : 0
	- product_id has number of Nan : 0
	- category_id has number of Nan : 0
	- category_code has number of Nan : 0
	- brand has number of Nan : 0
	- price has number of Nan : 0
	- user_id has number of Nan : 0
	- user_session has number of Nan : 0
Total number of rows: 53605851


Month January :
	- event_time has number of Nan : 0
	- event_type has number of Nan : 0
	- product_id has number of Nan : 0
	- category_id has number of Nan : 0
	- category_code has number of Nan : 0
	- brand has number of Nan : 0
	- price has number of Nan : 0
	- user_id has number of Nan : 0
	- user_session has number of Nan : 0
Total number of rows: 45321711


Month February :
	- event_time has number of Nan : 0
	- event_type has number of Nan : 0
	- product_id has number of Nan : 0
	- category_id has number of Nan : 0
	- category_code has number of Nan : 0
	- brand has number of Nan : 0
	- price has number of Nan : 0
	- user_id has number of Nan : 0
	- user_session has number of Nan : 0
Total number of rows: 42937413


Month March :
	- event_time has number of Nan : 0
	- event_type has number of Nan : 0
	- product_id has number of Nan : 0
	- category_id has number of Nan : 0
	- category_code has number of Nan : 0
	- brand has number of Nan : 0
	- price has number of Nan : 0
	- user_id has number of Nan : 0
	- user_session has number of Nan : 0
Total number of rows: 43449253


Month April :
	- event_time has number of Nan : 0
	- event_type has number of Nan : 0
	- product_id has number of Nan : 0
	- category_id has number of Nan : 0
	- category_code has number of Nan : 0
	- brand has number of Nan : 0
	- price has number of Nan : 0
	- user_id has number of Nan : 0
	- user_session has number of Nan : 0
Total number of rows: 52218529